.table {
  text-decoration: none;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  text-align: left;
  .image {
    text-align: center;
    width: 25%;
  }
  .brand {
    width: 25%;
  }
  .title {
    width: 40%;
  }
  .price {
    text-align: right;
    width: 10%;
    padding-right: 1rem;
  }
  & th {
    font-weight: normal;
    font-size: 0.875rem;
    background-color: #354251;
    color: #ffffff;
  }
  & td {
    font-size: 0.938rem;
    color: #354251;
  }
  & td,
  & th {
    white-space: normal;
    padding: 0.625rem 0.313rem;
    line-height: 0.938rem;
    vertical-align: top;
    border-bottom: 1px solid #354251;
  }
  & td > div {
    width: 100%;
    height: 100px;
    overflow: hidden;
    & img {
      height: 100%;
      width: auto;
    }
  }
  & tr:hover {
    background-color: #a5bfda;
  }

  @media (max-width: 520px) {
    .image {
      width: 30%;
    }
    & td > div {
      height: 50px;
    }
    & td,
    & th {
      font-size: 10px;
    }
  }
  @media (max-width: 320px) {
    .image {
      width: 15%;
    }
    & td > div {
      height: 20px;
    }
  }
}
