.wrapper {
  max-width: 900px;
  width: 90%;
  margin: auto;
}

/* loader */
.loader-wrapper {
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.loader {
  width: 6rem;
  height: 6rem;
  border: 3px dotted #354251;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #8eafd5;
  border-style: solid solid dotted;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* error message */
.error-wrapper {
  width: 50%;
  margin: 50px auto;
}
.error {
  border: 1px solid;
  margin: 0.625rem 0px;
  padding: 0.938rem 0.625rem 0.938rem 3.125rem;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #c0065d;
  background-color: #ffbaba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
}
